<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Panier{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    {% endblock %}
</head>
<body>
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Défi: panier</h1>
        </div>
    </div>
</section>
<div class="container">
    {% include 'Panier/NavPanier.html.twig' %}
</div>
<hr>
{% block body %}{% endblock %}
{% block javascripts %}
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>

{% endblock %}
</body>
</html>
