{% extends 'Panier/basePanier.html.twig' %}

{% block body %}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.id }}</td>
                    <td>{{ ticket.name }}</td>
                    <td>{{ ticket.price }}</td>
                    <td><a href="{{ path('addTicketToPanier', {id: ticket.id}) }}">Choisir</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}