<nav>
    <a href="{{ path('home_page') }}"> Home </a>  |
    <a href="{{ path('Event.showEvents') }}">liste des événements</a>  |
    <a href="{{ path('Event.lastEvent', {id: "1"}) }}"> Dernier événement</a>  |
    <a href="{{ path('Event.addEvent') }}"> Ajouter un événement </a>
</nav>
<hr>